<?xml version="1.0"?>
<launch>
  <arg name="image_width" default="1280" />
  <arg name="image_height" default="720" />
  <arg name="debug" default="true"/>
  <arg name="device" default="/dev/video0"/>
  <arg name="name" default="usb_cam"/>
  <arg name="pixel_format" default="yuyv"/>
  <arg name="autofocus" default="true"/>
  <arg name="focus" default="51"/>

  <node name="$(arg name)" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="$(arg device)" />
    <param name="image_width" value="$(arg image_width)" />
    <param name="image_height" value="$(arg image_height)" />
    <param name="pixel_format" value="$(arg pixel_format)" />
    <param name="camera_frame_id" value="$(arg name)" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="20"/>
    <param name="autofocus" value="$(arg autofocus)"/>
    <param name="focus" value="$(arg focus)"/>
  </node>
  <node if="$(arg debug)" name="$(anon image_view)" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
    <param name="autosize" value="true" />
  </node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="$(anon usb_cam_frame_pub)" args="0. 0.025 0.04 0 0 1 0 head_camera logitech_head_camera" />
</launch>
